<template>
  <div>
    <h1>Number change</h1>

    <div>
      <number-change-field
        class="field-box"
        v-for="field in fieldNames"
        :key="field"
        :field="field"
        :newValue="fields[field][0]"
        :oldValue="fields[field][1]"
      />
    </div>

    <button @click="clearFields()">Clear</button>
  </div>
</template>

<script>
import NumberChangeField from '../components/NumberChangeField'

export default {
  name: 'NumberChange',

  components: {
    numberChangeField: NumberChangeField
  },

  computed: {
    fields () {
      return this.$store.state.fields
    },

    fieldNames () {
      return Object.keys(this.fields)
    }
  },

  methods: {
    clearFields () {
      this.$store.dispatch('clearFields')
    }
  }
}
</script>

<style scoped>
.field-box {
  display: inline-block;
  width: 150px;
  height: 30px;
  background-color: cornsilk;
  border: solid black 1px;
  box-shadow: 3px 3px grey;
  margin: 10px;
  margin-bottom: 50px;
}
</style>
