<template>
  <div>
    <h1>Statistics</h1>

    <stats-by-field
      class="stats-box"
      v-for="field in fieldNames"
      :key="field"
      :field="field"
      :stats="stats[field]"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import StatsByField from '../components/StatsByField'

export default {
  name: 'Stats',

  components: {
    statsByField: StatsByField
  },
  computed: {
    ...mapState({
      stats: state => state.fields
    }),

    fieldNames () {
      return Object.keys(this.stats)
    }
  }
}
</script>

<style scoped>
.stats-box {
  display: inline-block;
  vertical-align: text-top;
  width: 300px;
  max-height: 300px;
  border: solid none 1px;
  margin: 15px;
  overflow: scroll;
}
</style>
