<template>
  <div class="nav">
    <span class="nav__page">
      <router-link
        class="nav__page--link"
        to="/"
      >
        Live changes
      </router-link>
    </span>
    <span class="nav__page">
      <router-link
        class="nav__page--link"
        to="/statistics"
      >
        Statistics
      </router-link>
    </span>
  </div>
</template>

<style scoped>
.nav {
  background-color: bisque;
  padding: 5px;
}

.nav__page {
  margin: 0 10px;
}

.nav__page--link {
  text-decoration: none;
}
</style>
