<template>
  <div>
    <div class="field">
      <span class="field__name">{{ field }}</span>
      <span>
        <span class="field__result">{{ value }}</span>
        <img class="field__arrow" :src="arrowDirection">
      </span>
    </div>

    <button @click="toggleChange">{{ toggleButton }}</button>
  </div>
</template>

<script>
export default {
  name: 'NumberChangeField',

  props: {
    field: {
      type: String,
      required: true
    },

    newValue: {
      type: Array,
      required: true
    },

    oldValue: {
      type: Array,
      required: true,
      default: () => []
    }
  },

  data () {
    return {
      toggle: false,
      interval: null,
      redArrow: require('../assets/redArrow.png'),
      greenArrow: require('../assets/greenArrow.png')
    }
  },

  computed: {
    value () {
      return this.newValue[0]
    },

    arrowDirection () {
      return this.value >= this.oldValue[0] ? this.greenArrow : this.redArrow
    },

    toggleButton () {
      return this.toggle ? 'Disable' : 'Enable'
    }
  },

  methods: {
    updateField () {
      const payload = {
        field: this.field,
        value: this.value
      }

      this.$store.dispatch('updateField', payload)
    },

    toggleChange () {
      this.toggle = !this.toggle

      if (this.toggle) {
        this.toggling = setInterval(this.updateField, 2000)
      } else {
        clearInterval(this.toggling)
      }
    }
  },

  created () {
    this.toggleChange()
  },

  beforeDestroy () {
    clearInterval(this.toggling)
  }
}
</script>

<style scoped>
.field {
  display: flex;
  justify-content: space-around;
  line-height: 30px;
  padding: 0 20px;
  margin-bottom: 5px;
}

.field__name {
  font-size: 20px;
  font-weight: bold;
}

.field__result {
  width: 50px;
  display: inline-block;
}

.field__arrow {
  width: 10px;
}
</style>
