<template>
  <div class="stats">
    <div class="stats__field-name">{{ field }}</div>
    <div
      class="stats__change"
      v-for="change in stats"
      :key="change[1]"
    >
      <div class="stats__change--large">result: {{ change[0] }}</div>
      <div>time: {{ change[1] }}</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    field: {
      type: String,
      required: true
    },

    stats: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
.stats__field-name {
  width: inherit;
  position: absolute;
  background-color: bisque;
  margin-top: 0;
}

.stats__change {
  color: white;
  background-color: darkgray;
  margin-top: 20px;
  margin-bottom: 10px;
}

.stats__change--large {
  font-size: 25px;
}
</style>
